extends layout 

block append scripts
  script(src="/about.js")

block main-content 
  h1.page-title #{title}
  img.about-banner(src="https://ilactesol.com/wp-content/uploads/2018/01/toronto-hero-image-dark.png")
  p.about-content Candy World was born in 2023 to bring every delicious candy to the world and is based in Toronto. We have stores in North York, Markham, and Richmond Hill.